html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow-x: hidden; 
    }

* {
box-sizing: inherit; 
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.center_text {
    margin: 30px;
    font-size: 20px;   
    text-align: center;
}

.row, .row_reverse {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch; 
    gap: 30px; 
    margin: 30px;
    background-color: #f5f5f5;
}

.row {
    margin-right: 60px;
}

.row_reverse {
    flex-direction: row-reverse;
    margin-left: 60px;
}

.text {
    flex: 0 0 63%;
    font-size: 18px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 12px;
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
}

.photo, .video {
    flex: 0 0 37%;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    object-position: center;
    display: block;
    
    height: 300px;
}

/* navbar styling */
.navbar {
    width: 100%;
    background-color: #f5f5f5;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 30px;
    position:sticky;
    top: 0;
    z-index: 1000;
}

/* navbar link (a) styling */
.navbar a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    transition: transform 0.1s;
}

.navbar a:hover {
    transform: scale(1.01);
}

.navorg {
    font-size: 22px;
    font-weight: bold;
}

.nav_links {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 20px;
}

.bubbly_button {
    background-color: #f8f8f8;
    color: black;
    padding: 10px 22px;
    border: 2px solid black;
    border-radius: 12px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.1s;
}

.bubbly_button:hover {
    background-color: #f8f8f8;
    transform: scale(1.01);
}