<!DOCTYPE html>
<html>

<head>
    <title> Go Kart Couch | Young Sparks STEM </title> <!-- Browser tab title -->
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/couch_style.css">
</head>

<body>
    <div class="container">
        <div class="center_text">
            <h1> Go Kart Couch </h1>
        </div>
        
        <div class="navbar"> <!-- navbar -->
            <a class="navorg" href="index.html"> Young Sparks STEM </a>

            <div class="nav_links">
                <a href="index.html"> Home </a>
                <a href="projects.html"> Our Projects </a>
                <a href="members.html"> Our Team </a>
                <!--youtube channel link later-->
            </div>
        </div>

        <div class="row">
            <div class="text">
                <h2><a>Gathering Materials</a></h2> <!-- link to video or album later-->

                <p>
                    We first collected all the materials needed for the project. Wood, nails, screws, and bolts were picked up 
                    from Home Depot, while a used couch was found on the side of the street. Additional tools were borrowed 
                    from the garage, and the wheels for the cart were ordered online from Amazon.
                </p>
            </div>

            <div class="photo" style="background-image: url('images/homedepot.jpg'); background-position: bottom;"></div>
        </div>

        <div class="row_reverse">
            <div class="text">
                <h2><a>Cutting Wood</a></h2>

                <p>
                    The frame of the cart was constructed by carefully cutting the wood to the right sizes. The pieces
                    were nailed together to form a sturdy base, and the four non-motorized wheels were attached to the 
                    corners, allowing the frame to move freely in any direction.
                </p>
            </div>

            <div class="photo" style="background-image: url('images/cut_wood.jpg');"></div>
        </div>

        <div class="row">
            <div class="text">
                <h2><a>Frame and wheels</a></h2>

                <p>
                    The frame of the cart was constructed by carefully cutting the wood to the right sizes. The pieces
                    were nailed together to form a sturdy base, and the four non-motorized wheels were attached to the 
                    corners, allowing the frame to move freely in any direction.
                </p>
            </div>

            <div class="photo" style="background-image: url('images/couch2.jpg');"></div>
        </div>

        <div class="row_reverse">
            <div class="text">
                <h2><a>Soldering</a></h2> 

                <p>
                    The wheels with built-in motors were wired by soldering connections to ensure proper power flow. Attention 
                    was paid to make sure the wiring was secure and well-insulated to avoid any short circuits during operation.
                </p>
            </div>

            <div class="video" style="height: 300px;">
                <video src="videos/soldering1.mp4" autoplay muted loop></video>
            </div>
        </div>

        <div class="row">
            <div class="text">
                <h2><a>wires</a></h2>

                <p>
                    Finally, all components were assembled together. The couch was mounted on the wooden frame, wheels and motor 
                    wiring were double-checked, and the cart was tested to confirm that everything functioned smoothly as a complete unit.
                </p>
            </div>
        
            <div class="photo" style="background-image: url('images/couch4.jpg');"></div>
        </div>

        <div class="row_reverse">
            <div class="text">
                <h2><a>Coding</a></h2>

                <p>
                    For the coding part, we programmed the motorized wheels using Arduino and C++. We uploaded the code to the Arduino 
                    board and connected it to our motorized wheels in order to control movement with our joystick.
                </p>
            </div>

            <div class="photo" style="background-image: url('images/code.jpg'); background-position: top;"></div>
        </div>

        <div class="row calculate">
            <div class="text">
                <h2><a>In Action</a></h2>
            </div>

            <div class="video">
                <video src="videos/jonathan_couch.mp4" autoplay muted loop></video>
            </div>

            <div class="video">
                <video src="videos/couch_view.mp4" autoplay muted loop></video>
            </div>
        </div>
    </div>
</body>

</html>