<!DOCTYPE html>
<html>

<head>
    <title> Go Kart Couch | Young Sparks STEM </title> <!-- Browser tab title -->
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/couch_style.css">
</head>

<body>
    <div class="center_text">
        <h1> Go Kart Couch </h1>
    </div>
    
    <div class="navbar"> <!-- navbar -->
        <a class="navorg" href="index.html"> Young Sparks STEM </a>

        <div class="nav_links">
            <a href="index.html"> Home </a>
            <a href="projects.html"> Our Projects </a>
            <a href="members.html"> Our Team </a>
            <!--youtube channel link later-->
        </div>
    </div>

    <div class="row">
        <div class="text">
            <h2><a>Go-kart EV Couch</a></h2> <!-- link to video or album later-->

            <p>
                we started by gathering materials 
            </p>

            <a href="members.html">
                <button class = "bubbly_button">Learn More</button>
            </a>
        </div>

        <div class="photo" style="background-image: url('images/couch1.jpg');"></div>
    </div>

    <div class="row_reverse">
        <div class="text">
            <h2><a>Go-kart EV Couch</a></h2> <!-- link to video or album later-->

            <p>
                we started by gathering materials 
            </p>

            <a href="members.html">
                <button class = "bubbly_button">Learn More</button>
            </a>
        </div>

        <div class="photo" style="background-image: url('images/couch2.jpg');"></div>
    </div>

    <div class="row">
        <div class="text">
            <h2><a>Go-kart EV Couch</a></h2> <!-- link to video or album later-->

            <p>
                we started by gathering materials 
            </p>

            <a href="members.html">
                <button class = "bubbly_button">Learn More</button>
            </a>
        </div>

        <div class="video">
            <video src="videos/soldering1.mp4" autoplay muted loop></video>
        </div>
    </div>

    <div class="row_reverse">
        <div class="text">
            <h2><a>Go-kart EV Couch</a></h2> <!-- link to video or album later-->

            <p>
                we started by gathering materials 
            </p>

            <a href="members.html">
                <button class = "bubbly_button">Learn More</button>
            </a>
        </div>

        <div class="photo" style="background-image: url('images/couch4.jpg');"></div>
    </div>

</body>

</html>