<!DOCTYPE html>
<html>

<head>
    <title> Go Kart Couch | Young Sparks STEM </title> <!-- Browser tab title -->
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/couch_style.css">
</head>

<body>
    <div class="container">
        <div class="center_text">
            <h1> Go Kart Couch </h1>
        </div>
        
        <div class="navbar"> <!-- navbar -->
            <a class="navorg" href="index.html"> Young Sparks STEM </a>

            <div class="nav_links">
                <a href="index.html"> Home </a>

                <div class="dropdown">
                    <a href="projects.html" class="dropbtn"> Our Projects &#9662;</a>
                    
                    <div class="dropdown-content">
                        <a href="projects.html"> All Projects </a>
                        <a href="couch.html"> Go Kart Couch </a>
                        <a href="generator.html"> Hand Crank Generator </a>
                    </div>
                </div>

                <a href="members.html"> Our Team </a>
                <!--socials links here later-->
            </div>
        </div>

        <div class="row">
            <div class="text">
                <h2><a>Gathering Materials</a></h2> <!-- link to video or album later-->

                <p>
                    We first collected all the materials needed for the project. Wood, nails, screws, and washers were picked up 
                    from Home Depot, and we found a used couch was found on the side of the street. The wheels, arduino kit, and 
                    soldering kit were ordered online from Amazon. Additional tools such as our saw and power drill were obtained
                    from our garage.
                </p>
            </div>

            <div class="photo" style="background-image: url('images/go_kart_images/homedepot.jpg'); background-position: bottom;"></div>
        </div>

        <div class="row_reverse">
            <div class="text">
                <h2><a>Cutting Wood</a></h2>

                <p>
                    The frame of the cart was constructed by cutting the 2x4 wood planks to the right sizes with a dull saw we found. 
                </p>
            </div>

            <div class="photo" style="background-image: url('images/go_kart_images/cut_wood.jpg');"></div>
        </div>

        <div class="row">
            <div class="text">
                <h2><a>Frame and wheels</a></h2>

                <p>
                    The pieces of wood were drilled together with four nails on each end to form a stable base. The four 
                    non-motorized wheels were drilled to the corners of the frame with four nails each, allowing the 
                    frame to be secure and move freely in any direction.
                </p>
            </div>

            <div class="photo" style="background-image: url('images/go_kart_images/couch2.jpg');"></div>
        </div>

        <div class="row_reverse">
            <div class="text">
                <h2><a>Soldering</a></h2> 

                <p>
                    The wheels with built-in motors were wired by soldering connections and heat shrinking to ensure proper power 
                    flow. Attention was paid to make sure the wiring was secure to ensure the wheels would drive properly and power
                    the entire build.
                </p>
            </div>

            <div class="video" style="height: 260px;">
                <video src="videos/go_kart_videos/soldering.mp4" autoplay muted loop></video>
            </div>
        </div>

        <div class="row">
            <div class="text">
                <h2><a>Coding</a></h2>

                <p>
                    For the code to control our build, we programmed the motorized wheels using Arduino and C++. We uploaded the code 
                    to the Arduino board and connected it to our motorized wheels in order to control movement with our joystick.
                </p>
            </div>

            <div class="photo" style="background-image: url('images/go_kart_images/code.jpg'); background-position: top;"></div>
        </div>

        <div class="row_reverse">
            <div class="text">
                <h2><a>Wiring</a></h2>

                <p>
                    We added the wiring board on our frame, connecting our motorized wheels, joystick, batteries and arduino all together
                    to allow the couch to move from the joystick's control alone.
                </p>
            </div>
        
            <div class="photo" style="background-image: url('images/go_kart_images/couch4.jpg');"></div>
        </div>

        <div class="row calculate">
            <div class="text">
                <h2><a>In Action</a></h2>

                <p>
                    All components were assembled together, the couch was mounted on the wooden frame and the cart was tested to confirm 
                    that everything functioned smoothly
                </p>
            </div>

            <div class="video">
                <video src="videos/go_kart_videos/jonathan_couch.mp4" autoplay muted loop></video>
            </div>

            <div class="video">
                <video src="videos/go_kart_videos/couch_view.mp4" autoplay muted loop></video>
            </div>
        </div>
    </div>
</body>

</html>