<!DOCTYPE html>
<html>

<head>
    <title> Go Kart Couch | Young Sparks STEM </title> <!-- Browser tab title -->
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/couch_style.css">
</head>

<body>
    <div class="container">
        <div class="center_text">
            <h1> Hand Crank Generator </h1>
        </div>
        
        <div class="navbar"> <!-- navbar -->
            <a class="navorg" href="index.html"> Young Sparks STEM </a>

            <div class="nav_links">
                <a href="index.html"> Home </a>

                <div class="dropdown">
                    <a href="projects.html" class="dropbtn"> Our Projects &#9662;</a>
                    
                    <div class="dropdown-content">
                        <a href="projects.html"> All Projects </a>
                        <a href="couch.html"> Go Kart Couch </a>
                        <a href="generator.html"> Hand Crank Generator </a>
                    </div>
                </div>

                <a href="members.html"> Our Team </a>
                <!--socials links here later-->
            </div>
        </div>

        <div class="row">
            <div class="text">
                <h2><a>Gathering Materials</a></h2> <!-- link to video or album later-->

                <p>
                    dog print dog spreadsheet dog amazon dog print dog spreadsheet dog amazon
                    dog print dog spreadsheet dog amazon dog print dog spreadsheet dog amazon
                    dog print dog spreadsheet dog amazon dog print dog spreadsheet dog amazon
                </p>
            </div>

            <div class="photo" style="background-image: url('images/generator_images/materials.jpg');"></div>
        </div>

        <div class="row_reverse">
            <div class="text">
                <h2><a>Magnets</a></h2>

                <p>
                    dog magnet alternating side dog magnet flipped lol dog screw driver dog magnet wheel 
                    dog magnet alternating side dog magnet flipped lol dog screw driver dog magnet wheel 
                    dog magnet alternating side dog magnet flipped lol dog screw driver dog magnet wheel 
                </p>
            </div>

            <div class="photo" style="background-image: url('images/generator_images/magnets.jpg'); background-position: bottom;"></div>
        </div>

        <div class="row">
            <div class="text">
                <h2><a>Coils</a></h2>

                <p>
                    wind up copper dog we messed up  coil frame and super glued so we had to reprint dog unwind 
                    and rewind copper dog heat shrink them together in frame dog 
                </p>
            </div>

            <div class="video" style="height: 260px;">
                <video src="videos/generator_videos/timelapse.mp4" autoplay muted loop></video>
            </div>
        </div>

        <div class="row_reverse">
            <div class="text">
                <h2><a> Wiring </a></h2> 

                <p>
                    Wiring with diodes dog soldered together dog realized wires were coated in zinc so didnt conduct with 
                    just sides touching dog redid the heat shrink and burned off zinc this time dog tested by spinning 
                    coils with volt meter dog
                </p>
            </div>

            <div class="video" style="height: 260px;">
                <video src="videos/generator_videos/first_test.mp4" autoplay muted loop></video>
            </div>
        </div>

        <div class="row calculate">
            <div class="text">
                <h2><a>In Action</a></h2>

                <p>
                    All components were super glued together, and the generator was hand cranked and tested dog
                </p>
            </div>

            <div class="video">
                <video src="videos/jonathan_couch.mp4" autoplay muted loop></video>
            </div>

            <div class="video">
                <video src="videos/couch_view.mp4" autoplay muted loop></video>
            </div>
        </div>
    </div>
</body>

</html>