<!DOCTYPE html>
<html>

<head>
    <title> Home | Young Sparks STEM </title> <!-- Browser tab title -->

    <style> /* css */
        body {
            font-family: Arial, sans-serif;   
            line-height: 1.5;                 
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Home Page</h1>

    <div> <!-- Intro/mission section -->
        <h2>Our Mission</h2>
        <p>
            We are a small engineering team that comes together to design and build projects for fun, 
            curiosity, and problem-solving. Our main goal is exploring engineering creatively, 
            while also tackling real-world challenges, such as environmental issues.
        </p>
    </div>

    <div> <!-- Projects section -->
        <h2><a href="projects.html" style="color: inherit;"> Our Projects </a></h2> <!-- press header to go to projects page -->
        <p>
           Explore our engineering projects, from experimenting with fun, creative ideas to developing 
           solutions for real-world problems. 
        </p>
    </div>

    <div> <!-- members section -->
        <h2><a href="members.html" style="color: inherit;"> Our Team </a></h2> <!-- press header to go to member page -->
        <p>
            Meet the people behind our team that bring our projects to life.
        </p>
    </div>

    <div> <!-- question or contact form later -->
        <h2><a>Ask Us Questions!</a></h2> <!-- for Q and A form later -->
    </div>
</body>

</html>