<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> Home | Young Sparks STEM </title> <!-- Browser tab title -->
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/index_style.css">
</head>

<body>
    <div class="container">
        <div class="center_text">
            <h1> Home Page</h1>
        </div>
        
        <div class="navbar"> <!-- navbar -->
            <a class="navorg" href="index.html"> Young Sparks STEM </a>

            <div class="nav_links">
                <a href="index.html"> Home </a>

                <div class="dropdown">
                    <a href="projects.html" class="dropbtn"> Our Projects &#9662;</a>
                    
                    <div class="dropdown-content">
                        <a href="projects.html"> All Projects </a>
                        <a href="couch.html"> Go Kart Couch </a>
                        <a href="generator.html"> Hand Crank Generator </a>
                    </div>
                </div>

                <a href="members.html"> Our Team </a>
                <!--socials links here later-->
            </div>
        </div>
        
        <!-- Intro/mission section -->
        <div class="normal_row">
            <div class="background" style="background-image: url('images/backgrounds/tech_background.jpg');">
                <div class="overlay_text" style="padding: 250px; font-size: 20px; text-align: center;">
                    <h2>Who We Are</h2>

                    <p>
                        Young Sparks STEM was started by a group of high school students in 2025. The team focuses on designing, building, 
                        and experimenting with projects that address real-world challenges, including environmental issues. Through hands-on 
                        projects, problem-solving, and creative experimentation, Young Sparks STEM aims to develop practical engineering skills, 
                        explore innovative ideas, and learn how to tackle complex problems collaboratively.
                    </p>
                </div>
            </div>
        </div>
        
        <!-- Projects section -->
        <div class="row_reverse">
            <div class="background" style="background-image: url('images/backgrounds/tech_background.jpg');">
                <div class="overlay_text"> 
                    <h2><a href="projects.html"> Projects </a></h2>
                    
                    <p>
                        Explore our engineering projects, where we experiment with creative ideas and build hands-on solutions. 
                        Each project focuses on applying practical skills and problem-solving techniques to real-world challenges, 
                        while also testing new concepts and designs.
                    </p>

                    <a href="projects.html">
                        <button class = "bubbly_button">Explore Our Projects</button>
                    </a>
                </div>
            </div>

            <div class="photo" style="background-image: url('images/members/joshua_photo.jpg');"></div>
        </div>
        
        <!-- members section -->
        <div class="row">
            <div class="background" style="background-image: url('images/backgrounds/tech_background.jpg');">
                <div class="overlay_text">  
                    <h2><a href="members.html"> Our Team </a></h2> <!-- press header to go to member page -->
                    
                    <p>
                        Meet the people behind our team who handle the planning, building, and testing of our projects. 
                        Each member focuses on different aspects, from design to hands-on construction, working together 
                        to complete our engineering challenges.
                    </p>

                    <a href="members.html">
                        <button class = "bubbly_button">Our Team</button>
                    </a>
                </div>
            </div>

            <div class="photo" style="background-image: url('images/members/joshua_photo.jpg');"></div>
        </div>
    </div>
</body>

</html>>