<!DOCTYPE html>
<html>

<head>
    <title> Our Team | Young Sparks </title> <!-- Browser tab title -->
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/members_style.css">
</head>

<body>
    <div class="container">
        <div class="center_text">
            <h1> Our Team </h1>
        </div>
        
        <div class="navbar"> <!-- navbar -->
            <a class="navorg" href="index.html"> Young Sparks STEM </a>

            <div class="nav_links">
                <a href="index.html"> Home </a>

                <div class="dropdown">
                    <a href="projects.html" class="dropbtn"> Our Projects &#9662;</a>
                    
                    <div class="dropdown-content">
                        <a href="projects.html"> All Projects </a>
                        <a href="couch.html"> Go Kart Couch </a>
                        <a href="generator.html"> Hand Crank Generator </a>
                    </div>
                </div>

                <a href="members.html"> Our Team </a>
                <!--socials links here later-->
            </div>
        </div>

        <!-- first row -->
        <div class="first_grid">
            <div class="member_box">
                <h1>Jonathan Xu</h1>

                <p>
                    did yk i'm 2023 vex world champ
                </p>

                <img class="member_photo" src="images/members/jonathan_photo.jpg" alt="Jonathan Photo">
            </div>

            <div class="member_box">
                <h1>Steven Shao</h1>

                <p>
                    im 15k in clash, i posted this on my story
                </p>
                <img class="member_photo" src="images/members/steven_photo.jpg" alt="Steven Photo">
            </div>

            <div class="member_box">
                <h1>Lucian Bai</h1>

                <p>
                    i watched jonathan win vex live, it was OUR win
                </p>

                <img class="member_photo" src="images/members/lucian_photo.jpg" alt="Lucian Photo">
            </div>
        </div>

        <!--second row-->
        <div class="second_grid">
            <div class="member_box">
                <h1>Joshua Wang</h1>

                <p>
                    unstoppable in both 10 ft and 8ft courts, can not be nerfed
                </p>

                <img class="member_photo" src="images/members/joshua_photo.jpg" alt="Joshua Photo">
            </div>

            <div class="member_box">
                <h1>Matthew Pan</h1>

                <p>
                    bif recently hit 10k on clash and deserves unparamounted glaze
                </p>

                <img class="member_photo" src="images/members/matthew_photo.jpg" alt="Matthew Photo">
            </div>
        </div>
    </div>
</body>

</html>