<!DOCTYPE html>
<html>

<head>
    <title> Our Projects | Young Sparks STEM </title> <!-- Browser tab title -->
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="center_text">
        <h1> Our Projects </h1>
    </div>
    
    <div class="navbar"> <!-- navbar -->
        <a class="navorg" href="index.html"> Young Sparks STEM </a>

        <div class="nav_links">
            <a href="index.html"> Home </a>
            <a href="projects.html"> Our Projects </a>
            <a href="members.html"> Our Team </a>
            <!--youtube channel link later-->
        </div>
    </div>

    <div class="row">
        <div class="text">
            <h2><a>Go-kart EV Couch</a></h2> <!-- link to video or album later-->

            <p>
                A creative engineering project combining comfort and motion — a functioning go-kart built 
                from a couch frame, designed for both fun and innovation. This project explores mechanics, 
                power systems, and teamwork in a unique way.
            </p>

            <a href="members.html">
                <button class = "bubbly_button">Learn More</button>
            </a>
        </div>

        <div class="photo" style="background-image: url('images/joshua_photo.jpg');"></div>
    </div>

    <div class="row_reverse">
        <div class="text">
            <h2><a>Hand Crank Generator</a></h2> <!-- link to video or album later-->

            <p>
                A compact, manually powered generator that converts human effort into electrical energy. 
                This project demonstrates the principles of energy conversion and sustainability through 
                hands-on design and experimentation.
            </p>

            <a href="index.html">
                <button class = "bubbly_button">Learn More</button>
            </a>
        </div>

        <div class="photo" style="background-image: url('images/joshua_photo.jpg');"></div>
    </div>
</body>

</html>