<!DOCTYPE html>
<html>

<head>
    <title> Our Projects | Young Sparks STEM </title> <!-- Browser tab title -->
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/projects_style.css">
</head>

<body>
    <div class="container">
        <div class="center_text">
            <h1> Our Projects </h1>
        </div>
        
        <div class="navbar"> <!-- navbar -->
            <a class="navorg" href="index.html"> Young Sparks STEM </a>

            <div class="nav_links">
                <a href="index.html"> Home </a>

                <div class="dropdown">
                    <a href="projects.html" class="dropbtn"> Our Projects &#9662;</a>
                    
                    <div class="dropdown-content">
                        <a href="projects.html"> All Projects </a>
                        <a href="couch.html"> Go Kart Couch </a>
                        <a href="generator.html"> Hand Crank Generator </a>
                    </div>
                </div>

                <a href="members.html"> Our Team </a>
                <!--socials links here later-->
            </div>
        </div>

        <div class="row">
            <div class="background" style="background-image: url('images/backgrounds/wheel_background.jpg');">
                <div class="overlay_text"> 
                    <h2><a href="couch.html"> Go-kart EV Couch </a></h2>

                    <p>
                        A creative engineering project combining comfort and motion — a functioning go-kart built 
                        from a couch frame, designed for both fun and innovation. This project explores mechanics, 
                        power systems, and teamwork in a unique way.
                    </p>

                    <a href="couch.html">
                        <button class = "bubbly_button">Learn More</button>
                    </a>
                </div>
            </div>

            <div class="photo" style="background-image: url('images/members/joshua_photo.jpg');"></div>
        </div>

        <div class="row_reverse">
            <div class="background" style="background-image: url('images//backgrounds/gear_background.jpg');">
                <div class="overlay_text"> 
                    <h2><a href="generator.html"> Hand Crank Generator </a></h2> 

                    <p>
                        A compact, manually powered generator that converts kinetic energy into electrical energy
                        via magnets and wired coils. This project demonstrates the principles of energy conversion 
                        and sustainability through hands-on design and experimentation.
                    </p>

                    <a href="generator.html">
                        <button class = "bubbly_button">Learn More</button>
                    </a>
                </div>
            </div>

            <div class="photo" style="background-image: url('images/members/joshua_photo.jpg');"></div>
        </div>
    </div>
</body>

</html>